.DraftEditor-root {
    border: 1px solid #a9a9a9;
    padding: 20px;
    border-radius: 3px;
}

.rdw-editor-toolbar {
    border: 1px solid #a9a9a9;
}

.rdw-image-modal {
    left: -214px;
}

.rdw-emoji-modal {
    left: -169px;
}

.rdw-embedded-modal {
    left: -124px;
}